@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');
@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-primary: var(--brand-primary);
  --color-brand-deep: var(--brand-deep);
  --color-brand-primary-5: var(--brand-primary-5);
  --color-brand-primary-10: var(--brand-primary-10);
  --color-brand-deep-5: var(--brand-deep-5);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #040714;
  --foreground: #e2e8f0;
  --muted-foreground: #64748b;
  --card: #0e0f17;
  --border: #1a1f2e;
  --muted: #0e0f17;
  --brand-primary: #009966;
  --brand-primary-hover: #00b377;
  --brand-deep: #040714;
  --brand-primary-5: rgba(0, 153, 102, 0.05);
  --brand-primary-10: rgba(0, 153, 102, 0.1);
  --brand-deep-5: rgba(4, 7, 20, 0.5);
}


.playwrite-nz {
  font-family: "Playwrite NZ Basic", cursive;

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}